
.topbar-center-logo {
	background: #1A9193;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: bold;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 0;
}

	.topbar-center-logo .menu {
		background: #1A9193;
	}
		.topbar-center-logo .menu .tabs-title:hover{
			background-color: #fefefe;
		}
		.topbar-center-logo .menu .tabs-title:focus {
			background-color: #fefefe;
		}
		.topbar-center-logo .menu.tabs {
			border-style: none;
		}
		.topbar-center-logo .menu a {
			color: #fefefe;
			font-size: 1em;
		}
			.topbar-center-logo .menu a:hover {
				color: #1A9193;
			}
			.tabs-title a:active{
				color: #1A9193;
			}
			.tabs-title {
				border-style: none;
			}
			.tabs:focus {
				background-color: #fefefe;
			}
		.topbar-center-logo p {
			color: #fefefe;
		}
	.topbar-center-logo .top-bar-center {
		-webkit-flex: 1 0 auto;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
	}

@media screen and (max-width: 39.9375em) {
	.topbar-center-logo .top-bar-center {
		display: none;
	}
}

.topbar-center-logo-mobile {
	background: #2c3840;
}

	.topbar-center-logo-mobile .menu-icon {
		vertical-align: text-top;
	}



/*LOGO*/
#logo {
	color: #fefefe;
	font-size: 2em;
	font-family: 'Lobster', cursive;
}


/*PANELS*/
.tabs-panel {
	border-width: 5px;
	border-radius: 5px;
	border-color: 
}