
.topbar-center-logo {
	background: #1A9193;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: bold;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 0;
}

	.topbar-center-logo .menu {
		background: #1A9193;
	}
	
		.topbar-center-logo .menu a {
			color: #fefefe;
			font-size: 1em;
			bottom: 0;
		}
		.topbar-center-logo .menu a:focus {
			color: #1A9193;
			background-color: #fefefe;
		}
				
		.topbar-center-logo p {
			color: #fefefe;
		}
	.topbar-center-logo .top-bar-center {
		-webkit-flex: 1 0 auto;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
	}

@media screen and (max-width: 39.9375em) {
	.topbar-center-logo .top-bar-center {
		display: none;
	}
}

.topbar-center-logo-mobile {
	background: #2c3840;
}

	.topbar-center-logo-mobile .menu-icon {
		vertical-align: text-top;
	}

	

/*LOGO*/
#logo {
	color: #fefefe;
	font-size: 2em;
	font-family: 'Lobster', cursive;
}

/*Stats Bar*/

.stats-list {
	list-style-type: none;
	clear: left;
	margin: 0;
	padding-top: 20px;
	text-align: center;
	margin-bottom: 30px;
	font-size: 2em;
}

	.stats-list .stats-list-positive {
		color: #3adb76;
	}

	.stats-list .stats-list-negative {
		color: #cc4b37;
	}

	.stats-list > li {
		display: inline-block;
		margin-right: 10px;
		padding-right: 10px;
		border-right: 1px solid #cacaca;
		text-align: center;
		font-size: 1.1em;
		font-weight: bold;
	}

		.stats-list > li:last-child {
			border: none;
			margin: 0;
			padding: 0;
		}

		.stats-list > li .stats-list-label {
			display: block;
			margin-top: 2px;
			font-size: 0.9em;
			font-weight: normal;
		}


/*TABS*/
.tabs-content {
	border: 0;
}
.tabs {
	border-color: #1A9193;
	border-width: 5px;
}
.tabs-title a {
	color: #1A9193;
}
.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
	background: #1A9193;
	color: #fefefe;
}

/*BODY*/
body {
	font-family: 'Roboto', sans-serif;
}


/*bar graph*/

.bar-graph {
	padding: 0;
	width: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	height: 425px;
	margin: 0;
}

	.bar-graph li {
		display: block;
		padding: 1.5625rem 0;
		position: relative;
		text-align: center;
		vertical-align: bottom;
		border-radius: 4px 4px 0 0;
		max-width: 20%;
		height: 100%;
		margin: 0 1.8% 0 0;
		-webkit-flex: 1 1 15%;
		-ms-flex: 1 1 15%;
		flex: 1 1 15%;
	}

	.bar-graph .bar-graph-axis {
		-webkit-flex: 1 1 8%;
		-ms-flex: 1 1 8%;
		flex: 1 1 8%;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.bar-graph .bar-graph-label {
		margin: 0;
		background-color: none;
		color: #8a8a8a;
		position: relative;
	}

@media print, screen and (min-width: 40em) {
	.bar-graph .bar-graph-label:before, .bar-graph .bar-graph-label:after {
		content: "";
		position: absolute;
		border-bottom: 1px dashed #8a8a8a;
		top: 0;
		left: 0;
		height: 50%;
		width: 20%;
	}
}

@media print, screen and (min-width: 40em) and (min-width: 64em) {
	.bar-graph .bar-graph-label:before, .bar-graph .bar-graph-label:after {
		width: 30%;
	}
}

@media print, screen and (min-width: 40em) {
	.bar-graph .bar-graph-label:after {
		left: auto;
		right: 0;
	}
}

.bar-graph .dollars {
	letter-spacing: -3px;
	opacity: 0.4;
	width: 100%;
	font-size: 1.5rem;
	position: absolute;
}

@media print, screen and (min-width: 40em) {
	.bar-graph .dollars {
		font-size: 1.5rem;
	}
}



.bar-graph .description {
	font-weight: 800;
	opacity: 0.5;
	text-transform: uppercase;
	width: 100%;
	font-size: 14px;
	bottom: 20px;
	position: absolute;
	font-size: 1rem;
	overflow: hidden;
}

.bar-graph .bar.primary {
	border: 1px solid #1779ba;
	background: linear-gradient(#2196e3, #1779ba 70%);
}

.bar-graph .bar.secondary {
	border: 1px solid #767676;
	background: linear-gradient(#909090, #767676 70%);
}

.bar-graph .bar.success {
	border: 1px solid #3adb76;
	background: linear-gradient(#65e394, #3adb76 70%);
}

.bar-graph .bar.warning {
	border: 1px solid #ffae00;
	background: linear-gradient(#ffbe33, #ffae00 70%);
}

.bar-graph .bar.alert {
	border: 1px solid #cc4b37;
	background: linear-gradient(#d67060, #cc4b37 70%);
}


